<template>
  <div>
    <div class="assessment">
      <div class="problem-statement">
        Problem Statement: {{ intro }}
      </div>
      <br>
      <!-- <vue-markdown>i am a ~~tast~~ **test**.</vue-markdown> -->
      <button class="start-btn" @click="current+=1">
        Let's solve this!
      </button>
      <div v-show="current>=question.id" class="question" v-for="question in questions" :key="question.id">
        <br><hr><br>
        <div class="question-text">
          Q. <span v-html="question.text"></span>
        </div>
        <br>
        <!-- <no-ssr> -->
          <circular-count-down-timer
            :initial-value="360500"
          ></circular-count-down-timer>
        <!-- </no-ssr> -->
        <circular-count-down-timer
          :initial-value="200"
          :steps="400"
        ></circular-count-down-timer>
        <br>
        <textarea :disabled="question.locked == true" placeholder="Write your answer here..." class="question-answer" v-model="question.answer"/>
        <br>
        <button class="lock-btn" @click="question.locked=true;">
          Lock
        </button>
        <div v-show="question.locked">
          <br>
          Here's a model answer:<br>
          <textarea disabled class="question-answer" v-text="question.model_answer"/>
          <br><br>
          Compare your answer with the model answer. Are they very different, slightly different (acceptable), or very close?
          <br>
          <input type="radio" id="one" value="1" v-model="question.rating">
          <label for="one">Very Different</label>
          <input type="radio" id="two" value="2" v-model="question.rating">
          <label for="two">Acceptable</label>
          <input type="radio" id="three" value="3" v-model="question.rating">
          <label for="three">Very Close</label>
          <div v-show="question.rating>0">
            <br><br>
            Take some time to reflect.
            <br>
            Note down what went well and what you can do better in future?
            <br>
            When done, click proceed to go to the next question.
            <br>
            <textarea class="question-notes" v-model="question.notes"/>
            <br>
            <button class="proceed-btn" @click="current+=1">
              Proceed
            </button>
          </div>
        </div>
      </div>
      <div v-show="current > total">
        <br><br>
        {{ conclusion }}
        <br>
        <button class="submit-btn" @click="submit()">
          Finish
        </button>
      </div>
    </div>
  </div>
</template>

<script>
// import Vue from 'vue';
// import CircularCountDownTimer from "vue-circular-count-down-timer";
// Vue.use(CircularCountDownTimer);
import Vue from 'vue';
import VueMarkdown from "vue-markdown";
Vue.use(VueMarkdown);


  export default {
    data() {
      return {
        started: false,
        current: 0,
        total: 2,
        intro: `What's the global market size for smartphones?`,
        questions: [
          {
            id: 1,
            text: `Let's break down the problem. Market share can be measured by the total revenue of new smartphone sales in a year.<br>Market size = Number of new phones sold * Average price per phone<br>Further, number of new phones sold can be broken down into 2 categories: Phones sold to first-time users and Phones sold to people to replace old ones. Try estimating the number of phones sold to first-time users.`,
            suggested_time_in_seconds: 300,
            answer: '',
            model_answer: `There are 7 billion people in the world.
Suppose people are evenly distributed through all ages.
Suppose the average life expectancy is 70 years.
So each year, there are 7 billion / 70 = 100 million people getting into the appropriate age to own a phone.
Suppose 40% of people in the world have a smartphone.
All of those come down to 40 million new smartphones sold to first-time users.`,
            visible: true,
            rating: 0,
            notes: '',
            locked: false,
          },
          {
            id: 2,
            text: `Great, now estimate the number of phones sold to existing users.`,
            suggested_time_in_seconds: 500,
            answer: '',
            model_answer: `Using the assumptions above, we know 40% of 7 billion people are currently using smartphones. That is 2.8 billion
Suppose on average, each person uses a smartphone for 5 years.
With all of those, we have 2.8 billion / 5 years = 560 million new smartphones sold to people to replace their old phones.`,
            visible: false,
            rating: 0,
            notes: '',
            locked: false,
          }
        ],
        conclusion: `Consolidating the above data, there are 600 million new smartphones sold each year.
Suppose the average price per new smartphone is $400.
The global market size for smartphones is:
600 mil x $400 = $240 billion.`,
        ip: '1234'
      }
    },
    methods: {
      async submit() {
        const ip = await this.$axios.$post('http://localhost:8000/api/submit', {
          'questions': this.questions
        }).then(response => {
          console.log(response.data)
        }).catch(error => {
          console.log('error: ' + error)
        });
        this.ip = ip
      },
    }
  }
</script>

<style scoped>
.assessment {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
  font-size: 19px;
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  letter-spacing: -0.1px;
}
.problem-statement {

}
.start-btn {
  background-color: #ff3b3f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 100px;
}
.lock-btn {
  background-color: #ff3b3f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 100px;
}
.proceed-btn {
  background-color: #ff3b3f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 100px;
}
.submit-btn {
  background-color: #ff3b3f;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 100px;
}
.question {

}
.question-text {

}
.question-answer {
  border: 1px;
  border-style: solid;
  width: 600px;
  height: 100px;
}
.question-answer:focus {
  background-color: lightblue;
}
.question-notes {
  border: 1px;
  border-style: solid;
  width: 600px;
  height: 100px;
}
.question-notes:focus {
  border: 3px solid #555;
}
button:focus {outline:0;}
</style>
